body {
  margin: 0;
  font-family: sans-serif;
}

.conatiner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  overflow: auto;
}

.sortable {
  cursor: pointer;
}

.sortable::after {
  content: "↑";
}
